body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    color: green;
    background-color: darkgray;
    font-size: 55px;

}

.link {
    font-size: 25px;
    color: blue;
    background-color: bisque;
}
